<a href="https://colab.research.google.com/github/Anuj-gitch/DataScience/blob/main/Data_Cleaning_Zomato.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project : Data Cleaning Zomato

In this project we will extract data from the json file and save it into dataframe object. After that we save the file in our drive in csv format.
Which we can use further for Exploratory data Analysis

file_path: /content/drive/MyDrive/Ineurone/EDA And Feature Engineering- Zomato Dataset/DataSet/Zomatodataset.zip


__Process__:

1. Read all the json file using pd.read_json from the zipfile. Append it into a list
2. From the list of file, we will extract the restaurants details from all the files present in that list and will create a new master data that will hold a compiled version of the restaurants details
3. After that we will save the file into the drive in csv format

## Importing Tools

In [1]:
import pandas as pd
import numpy as np


# Visualization Tool
import plotly.express as px
import plotly.graph_objects as go
import matplotlib.pyplot as plt
import seaborn as sns

# system tools
import os
from os import listdir
import zipfile # will be used to read zipfile

## Read file from zip file

In [ ]:
zipfiles = zipfile.ZipFile("/content/drive/MyDrive/Ineurone/EDA And Feature Engineering- Zomato Dataset/DataSet/Zomatodataset.zip",'r')

In [103]:
# store the files in a list where format of the file is json
files = [i.filename for i in zipfiles.filelist if i.filename[:3] == 'fil']
files

['file1.json', 'file2.json', 'file3.json', 'file4.json', 'file5.json']

In [ ]:
# creating the list of json file
file1 = [pd.read_json(zipfiles.open(fil)) for fil in files]

# compile the json file only for Restaurant file
compiled = pd.concat([pd.DataFrame(i['restaurants']) for i in file1])

# droping null rows
compiled = compiled[compiled['restaurants'].notna()]

# reset the index
compiled = compiled.reset_index()

# drop index column
compiled.drop('index',axis = 1, inplace = True)

### Data Cleaning

__Steps taken to clean data__

* From a jason file there is a resturant column
* In every cell of resturant column there is a detail of 20 resturants
* So here we will extract the detail from every cell then convert it into dataframe then store it in the list.
* After storing it in the list we will compile it together and now we will have a final_data.
* We will do the same with other jason file in the zip folder
* In the last we will compile it together and create one master data. Then we will save it in the csv format

In [110]:
def cleaned_data(df):
  """
  This function will take the dataframe. Then it will extract the data from each cell in the restaurants column and will store it in the list.
  And in the last it will return the compiled form of data in single dataframe.
  """
  df_list = []
  for i in df.restaurants:
    for k in i:
      df_list.append(pd.DataFrame([k['restaurant']]))

  final_df = pd.concat(df_list).reset_index().drop('index',axis = 1)
  return final_df

In [111]:
compiled_data = cleaned_data(compiled)

In [112]:
compiled_data.head()

,has_online_delivery,photos_url,url,price_range,apikey,user_rating,R,name,cuisines,is_delivering_now,...,location,featured_image,zomato_events,currency,id,thumb,establishment_types,events_url,order_deeplink,order_url
0,1,https://www.zomato.com/HauzKhasSocial/photos?u...,https://www.zomato.com/HauzKhasSocial?utm_sour...,3,b90e6a8c738410315a20c449fe2eb1b1,"{'rating_text': 'Very Good', 'rating_color': '...",{'res_id': 308322},Hauz Khas Social,"Continental, American, Asian, North Indian",0,...,"{'latitude': '28.5542851000', 'address': '9-A ...",https://b.zmtcdn.com/data/pictures/2/308322/cf...,[{'event': {'display_date': '05 April - 21 May...,Rs.,308322,https://b.zmtcdn.com/data/pictures/2/308322/cf...,[],https://www.zomato.com/HauzKhasSocial/events#t...,NaN,NaN
1,0,https://www.zomato.com/ncr/qubitos-the-terrace...,https://www.zomato.com/ncr/qubitos-the-terrace...,3,b90e6a8c738410315a20c449fe2eb1b1,"{'rating_text': 'Excellent', 'rating_color': '...",{'res_id': 18037817},Qubitos - The Terrace Cafe,"Thai, European, Mexican, North Indian, Chinese...",0,...,"{'latitude': '28.6471325000', 'address': 'C-7,...",https://b.zmtcdn.com/data/pictures/7/18037817/...,[{'event': {'display_date': '16 April - 17 Apr...,Rs.,18037817,https://b.zmtcdn.com/data/pictures/7/18037817/...,[],https://www.zomato.com/ncr/qubitos-the-terrace...,NaN,NaN
2,1,https://www.zomato.com/ncr/the-hudson-cafe-del...,https://www.zomato.com/ncr/the-hudson-cafe-del...,2,b90e6a8c738410315a20c449fe2eb1b1,"{'rating_text': 'Very Good', 'rating_color': '...",{'res_id': 312345},The Hudson Cafe,"Cafe, Italian, Continental, Chinese",0,...,"{'latitude': '28.6949468000', 'address': '2524...",https://b.zmtcdn.com/data/pictures/5/312345/03...,NaN,Rs.,312345,https://b.zmtcdn.com/data/pictures/5/312345/03...,[],https://www.zomato.com/ncr/the-hudson-cafe-del...,NaN,NaN
3,0,https://www.zomato.com/ncr/summer-house-cafe-h...,https://www.zomato.com/ncr/summer-house-cafe-h...,3,b90e6a8c738410315a20c449fe2eb1b1,"{'rating_text': 'Very Good', 'rating_color': '...",{'res_id': 307490},Summer House Cafe,"Italian, Continental",0,...,"{'latitude': '28.5525204000', 'address': '1st ...",https://b.zmtcdn.com/data/pictures/0/307490/e0...,[{'event': {'display_date': '16 April - 17 Apr...,Rs.,307490,https://b.zmtcdn.com/data/pictures/0/307490/e0...,[],https://www.zomato.com/ncr/summer-house-cafe-h...,NaN,NaN
4,0,https://www.zomato.com/ncr/38-barracks-connaug...,https://www.zomato.com/ncr/38-barracks-connaug...,3,b90e6a8c738410315a20c449fe2eb1b1,"{'rating_text': 'Very Good', 'rating_color': '...",{'res_id': 18241537},38 Barracks,"North Indian, Italian, Asian, American",0,...,"{'latitude': '28.6330248887', 'address': 'M-38...",https://b.zmtcdn.com/data/pictures/7/18241537/...,NaN,Rs.,18241537,https://b.zmtcdn.com/data/pictures/7/18241537/...,[],https://www.zomato.com/ncr/38-barracks-connaug...,NaN,NaN

In [113]:
# convert the dictionary store in the cell into a dataframe and then compile it all together into single dataframe

def return_columns(final_df,column):
  """convert the dictionary store in the cell into a dataframe and then compile it all together into single dataframe"""
  return pd.concat([pd.DataFrame([final_df[column][i]]) for i in range(len(final_df))]).reset_index().drop('index',axis = 1)

In [114]:
# using this function to extract location detail
locations = return_columns(compiled_data, 'location')

In [115]:
# using this function to extract user_rating detail
ratings = return_columns(compiled_data, 'user_rating')

In [116]:
# final_df compilation of all the data
final_df = pd.concat([compiled_data,locations,ratings], axis = 1)

In [117]:
# columns in the final df
final_df.columns

Index(['has_online_delivery', 'photos_url', 'url', 'price_range', 'apikey',
       'user_rating', 'R', 'name', 'cuisines', 'is_delivering_now', 'deeplink',
       'menu_url', 'average_cost_for_two', 'book_url', 'switch_to_order_menu',
       'offers', 'has_table_booking', 'location', 'featured_image',
       'zomato_events', 'currency', 'id', 'thumb', 'establishment_types',
       'events_url', 'order_deeplink', 'order_url', 'latitude', 'address',
       'city', 'country_id', 'locality_verbose', 'city_id', 'zipcode',
       'longitude', 'locality', 'rating_text', 'rating_color', 'votes',
       'aggregate_rating'],
      dtype='object')

In [118]:
# columns which required
columns_required = ['id','name','country_id','city','address','locality','locality_verbose','latitude',
                    'longitude','cuisines','average_cost_for_two','currency','has_online_delivery','is_delivering_now',
                    'has_table_booking','switch_to_order_menu','price_range','aggregate_rating','rating_color','rating_text','votes']

In [119]:
# subseting the dataframe with columns required
final_df = final_df[columns_required]
final_df

,id,name,country_id,city,address,locality,locality_verbose,latitude,longitude,cuisines,...,currency,has_online_delivery,is_delivering_now,has_table_booking,switch_to_order_menu,price_range,aggregate_rating,rating_color,rating_text,votes
0,308322,Hauz Khas Social,1,New Delhi,"9-A & 12, Hauz Khas Village, New Delhi",Hauz Khas Village,"Hauz Khas Village, New Delhi",28.5542851000,77.1944706000,"Continental, American, Asian, North Indian",...,Rs.,1,0,1,0,3,4.3,5BA829,Very Good,7931
1,18037817,Qubitos - The Terrace Cafe,1,New Delhi,"C-7, Vishal Enclave, Opposite Metro Pillar 417...",Rajouri Garden,"Rajouri Garden, New Delhi",28.6471325000,77.1177015000,"Thai, European, Mexican, North Indian, Chinese...",...,Rs.,0,0,1,0,3,4.5,3F7E00,Excellent,778
2,312345,The Hudson Cafe,1,New Delhi,"2524, 1st Floor, Hudson Lane, Delhi University...",Delhi University-GTB Nagar,"Delhi University-GTB Nagar, New Delhi",28.6949468000,77.2043172000,"Cafe, Italian, Continental, Chinese",...,Rs.,1,0,0,0,2,4.4,5BA829,Very Good,1537
3,307490,Summer House Cafe,1,New Delhi,"1st Floor, DDA Shopping Complex, Aurobindo Pla...",Hauz Khas,"Hauz Khas, New Delhi",28.5525204000,77.2038090000,"Italian, Continental",...,Rs.,0,0,1,0,3,4.1,5BA829,Very Good,1823
4,18241537,38 Barracks,1,New Delhi,"M-38, Outer Circle, Connaught Place, New Delhi",Connaught Place,"Connaught Place, New Delhi",28.6330248887,77.2228584811,"North Indian, Italian, Asian, American",...,Rs.,0,0,1,0,3,4.4,5BA829,Very Good,840
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29748,17582627,Senor Iguanas,216,Pocatello,"961 Hiline Rd, Pocatello, ID 83201",Pocatello,"Pocatello, Pocatello",42.8942000000,-112.4433000000,Mexican,...,$,0,0,0,0,1,3.6,9ACD32,Good,108
29749,17582625,Sandpiper Restaurant & Lounge,216,Pocatello,"1400 Bench Rd, Pocatello, ID 83201",Pocatello,"Pocatello, Pocatello",42.9012000000,-112.4320000000,"American, Seafood, Steak",...,$,0,0,0,0,3,3.6,9ACD32,Good,85
29750,17582668,Texas Roadhouse,216,Pocatello,"560 Bullock Street, Pocatello, ID 83202",Chubbuck,"Chubbuck, Pocatello",42.9105180000,-112.4613260000,"American, BBQ, Steak",...,$,0,0,0,0,3,3.5,9ACD32,Good,83
29751,17582498,Riverwalk Cafe,216,Pocatello,"695 E Main St, Lava Hot Springs, ID 83246",Lava Hot Springs,"Lava Hot Springs, Pocatello",42.6200000000,-112.0132000000,"Asian, Thai",...,$,0,0,0,0,1,3.6,9ACD32,Good,91
29752,17582499,Royal Hotel,216,Pocatello,"11 E Main St, Lava Hot Springs, ID 83246",Lava Hot Springs,"Lava Hot Springs, Pocatello",42.6192000000,-112.0127000000,"Pizza, Bar Food",...,$,0,0,0,0,1,3.6,9ACD32,Good,59

In [120]:
# Drop all duplicates and reset index
final_df = final_df.drop_duplicates().reset_index()

In [121]:
# drop index column
final_df.drop('index', axis = 1, inplace = True)

In [123]:
# store this data into drive in csv format
final_df.to_csv("/content/drive/MyDrive/Ineurone/EDA And Feature Engineering- Zomato Dataset/DataSet/zomato_cleaned.csv")

In [127]:
# reading the same dataframe
df = pd.read_csv("/content/drive/MyDrive/Ineurone/EDA And Feature Engineering- Zomato Dataset/DataSet/zomato_cleaned.csv").drop("Unnamed: 0", axis = 1)

In [128]:
df.head()

,id,name,country_id,city,address,locality,locality_verbose,latitude,longitude,cuisines,...,currency,has_online_delivery,is_delivering_now,has_table_booking,switch_to_order_menu,price_range,aggregate_rating,rating_color,rating_text,votes
0,308322,Hauz Khas Social,1,New Delhi,"9-A & 12, Hauz Khas Village, New Delhi",Hauz Khas Village,"Hauz Khas Village, New Delhi",28.554285,77.194471,"Continental, American, Asian, North Indian",...,Rs.,1,0,1,0,3,4.3,5BA829,Very Good,7931
1,18037817,Qubitos - The Terrace Cafe,1,New Delhi,"C-7, Vishal Enclave, Opposite Metro Pillar 417...",Rajouri Garden,"Rajouri Garden, New Delhi",28.647133,77.117701,"Thai, European, Mexican, North Indian, Chinese...",...,Rs.,0,0,1,0,3,4.5,3F7E00,Excellent,778
2,312345,The Hudson Cafe,1,New Delhi,"2524, 1st Floor, Hudson Lane, Delhi University...",Delhi University-GTB Nagar,"Delhi University-GTB Nagar, New Delhi",28.694947,77.204317,"Cafe, Italian, Continental, Chinese",...,Rs.,1,0,0,0,2,4.4,5BA829,Very Good,1537
3,307490,Summer House Cafe,1,New Delhi,"1st Floor, DDA Shopping Complex, Aurobindo Pla...",Hauz Khas,"Hauz Khas, New Delhi",28.552520,77.203809,"Italian, Continental",...,Rs.,0,0,1,0,3,4.1,5BA829,Very Good,1823
4,18241537,38 Barracks,1,New Delhi,"M-38, Outer Circle, Connaught Place, New Delhi",Connaught Place,"Connaught Place, New Delhi",28.633025,77.222858,"North Indian, Italian, Asian, American",...,Rs.,0,0,1,0,3,4.4,5BA829,Very Good,840

In [129]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9579 entries, 0 to 9578
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    9579 non-null   int64
 1   name                  9579 non-null   object
 2   country_id            9579 non-null   int64
 3   city                  9579 non-null   object
 4   address               9579 non-null   object
 5   locality              9579 non-null   object
 6   locality_verbose      9579 non-null   object
 7   latitude              9579 non-null   float64
 8   longitude             9579 non-null   float64
 9   cuisines              9570 non-null   object
 10  average_cost_for_two  9579 non-null   int64
 11  currency              9559 non-null   object
 12  has_online_delivery   9579 non-null   int64
 13  is_delivering_now     9579 non-null   int64
 14  has_table_booking     9579 non-null   int64
 15  switch_to_order_menu  9579 non-null   int64
 16  price_range           9579 non-null   int64
 17  aggregate_rating      9579 non-null   float64
 18  rating_color          9579 non-null   object
 19  rating_text           9579 non-null   object
 20  votes                 9579 non-null   int64
dtypes: float64(3), int64(9), object(9)
memory usage: 1.5+ MB